<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ghvandoorn.com/xtext/statemachine/Dsl" 
       class = "com.ghvandoorn.xtext.statemachine.dsl.DslPackage"
       genModel = "com/ghvandoorn/xtext/statemachine/Dsl.genmodel" /> 
	
  </extension>




</plugin>
